{% extends 'base.html.twig' %}
{% block body %}
<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/style.css' %}</style>


<div class="containerEnq">
<div id="date-s">
Today was <span id="jour"name="jour">jj</span>/<span id="mois"name="mois">mm</span>/<span id="an"name="an">an</span>
</div>
<form action="{{ path('qcm.list') }}" method="post" >
    {% for message in app.flashes('error') %}
        <p style="color: red">
            {{ message }}
        </p>
    {% endfor %}
<p id="line1" style="color: black"> mettre votre identifiant : </p>
<input type="number" value="student-id" id="studientId" name="studientId">

<input type="submit" class="btn btn-primary" id="button-1" >
</div></div>


{% endblock %}

{% block title %} enquetes {% endblock %}