{% extends 'base.html.twig' %}
{% block head %}
<!-- import font awesome v4 icons -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<!-- inclusion du fichier css dans ma page twig -->
<style>{% include 'css/qcm.css' %}</style>

<!-- source des questions : 
https://www.reptic.qc.ca/wp-content/uploads/2014/05/2014-05_STFO_questionnaire-evaluation-formative.pdf -->
<div class="qcm-body">
<form method="post" action="">
<h2> Questions d’ordre général </h2>
 <p> 1.Avant le début de la session, mon niveau de motivation pour le contenu de ce cours :</p>
   
     <input type="radio" id="e1" name="e1" value="e1" checked/>
  <label for="e1"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="e2" name="e2" value="e2" />
     <label for="e2">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="e3" name="e3" value="e3" />
     <label for="e3">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="e4" name="e4" value="e4" />
     <label for="e4">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="e5" name="e5" value="e5" />
     <label for="e5">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>  
       
 <p> 2.le moyen d'assistance dans ce cours :</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
 <p> 3.Dans ce cours, j’ai investi un niveau d’effort :</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>  
 
<h2> Planification </h2>
<p> 4.Le professeur nous demande une charge de travail insufficent(1*) 
    ou plus grande(5*) que ce qui est prévu pour ce cours:</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 5.Le professeur répartit bien le contenu du cours sur l’ensemble de la session (ou sur le nombre de
     semaines prévu pour ce cours):</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 6.Le professeur répartit bien les activités d’évaluation sommative dans la session:</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>

<h2> Environnement pédagogique </h2>
<p> 7.Le professeur a présenté clairement le plan de cours au début de la session:</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 8.Le professeur contribue à créer un climat qui favorise l’apprentissage en classe:</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 9.Le professeur donne ses cours de façon structurée</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 10.Le professeur garde bien le contrôle de son groupe</p>
    
  <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>

<h2>Maîtrise du contenu et clarté</h2>
<p> 11.Le professeur maîtrise bien le contenu de son cours: <p>
   <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 12.Le professeur utilise des exemples pertinents qui facilitent les apprentissages visés:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 13.Le professeur sait rendre compréhensibles des notions techniques, complexes ou abstraites:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 14.Le professeur répond de manière claire et satisfaisante aux questions des étudiants</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<h2>Stratégies pédagogiques</h2>
<p> 15.Le professeur fait ressortir les points importants du cours lors de son enseignement:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 16.Le professeur utilise des méthodes pédagogiques qui favorisent mes apprentissages</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 17.Le professeur utilise des méthodes pédagogiques qui soutiennent mon intérêt</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<h2> Évaluation des apprentissages </h2>
<p> 18.Le professeur respecte les délais prévus  pour la remise aux étudiants des résultats des
    travaux ou des examens</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 19.Le professeur nous fait régulièrement des commentaires sur nos forces et nos points à améliorer:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 20.Le professeur prévoit des activités d’évaluation sommative (examens, projets, travaux, etc.) qui
     correspondent aux compétences visées par ce cours:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 21.Le professeur formule sur  les travaux corrigés des commentaires qui m’aident à progresser:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<h2> Relation pédagogique, encadrement et disponibilité </h2>
<p> 22.Le professeur est ouvert aux suggestions des étudiants sur son cours.</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 23.Le professeur fait preuve de respect et de considération pour ses étudiants:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>
<p> 24.Le professeur offre une disponibilité adéquate pour répondre aux besoins d’aide et d’encadrement de
    ses étudiants:</p>
    <input type="radio" id="1etoile" name="1etoile" value="1etoile" checked>
  <label for="1etoile"><i class="fa fa-star"></i>
   </label>
  
   <input type="radio" id="2etoile" name="2etoile" value="2etoile" >
     <label for="2etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>

    <input type="radio" id="3etoile" name="3etoile" value="3etoile" >
     <label for="3etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="4etoile" name="4etoile" value="4etoile" >
     <label for="4etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </label>
     <input type="radio" id="5etoile" name="5etoile" value="5etoile" >
     <label for="5etoile">
         <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        
       </label>

</form>
</div>
{% endblock %}
{% block title %} questionnaire {% endblock %}