.login,
.image {
  min-height: 100vh;
}
#sign-up{
  height:500px;
}
/*login image*/
.bg-image {
  background-image: url('https://eacea.ec.europa.eu/national-policies/eurydice/sites/default/files/eurydice-images/news-articles/teacher-5694365_1920.png');
  background-size: cover;
  background-position: center;
}
/* inscription image */
#inscription-image {
  background-image: url('https://1.bp.blogspot.com/-KHQpUF9Eb6M/YOckg1bDsNI/AAAAAAAACMk/o8s1T-XOB7IesJoDZwgqAiuOvwBx_705QCLcBGAsYHQ/s0/sign-up-register-join-applicant-enroll-enter-membership-concept.jpg');
  background-size: cover;
  background-position: center;
}
#titre-signup{
  color: #2584ff;
}
#classe_widget{
  width:555px;
}
#username_widget{
  width:470px;
}
#username {
  font-size:22px;
}
#cin{
  margin-right:66px;
}
#erruer{
  width:380px;
}
#password-cond{
  font-size:11px;
  color:red;
}