body {
background-image: url(https://static.vecteezy.com/system/resources/previews/002/187/952/original/online-exam-digital-test-internet-poll-education-3d-concept-vector.jpg);

background-repeat: no-repeat;
    background-position: left;
    background-size: 700px 450px;
    margin-bottom:20%;
    
}
.description{
    margin-left:58%;
    margin-top:-1%;
    

    }
h2{
    margin-top:25%;
}
  




