#calendar{
    background-color: #fff;
    margin-left:5%;
    margin-top:-0.5%;
    
}
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
th,
td {
  
  
  width: 50%;
  overflow: hidden;
}

body {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
i.fa {
    font-size: 16px;
}
p {
    font-size: 16px;
    line-height: 1.42857143;
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #3498DB;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.header .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header #menu-action {
    display: block;
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.header #menu-action i {
    display: inline-block;
    margin: 0 5px;
}
.header #menu-action span {
    width: 0px;
    display: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.header #menu-action:hover {
    background: rgba(0, 0, 0, 0.25);
}
.header #menu-action.active {
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.header #menu-action.active span {
    display: inline;
    width: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 50px;
    height: 100%;
    width: 60px;
    background: #fff;
    border-right: 1px solid #ddd;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar:hover,
.sidebar.active,
.sidebar.hovered {
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    display: block;
}
.sidebar ul li a {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #444;
    text-align: left;
}
.sidebar ul li a i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.sidebar ul li a span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
}
.sidebar ul li a:hover {
    background-color: #eee;
}
.sidebar ul li a:hover i {
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}
.main {
    position: relative;
    display: block;
    top: 50px;
    left: 0;
    padding: 15px;
    padding-left: 75px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.main.active {
    padding-left: 275px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.main .jumbotron {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #dfe8f1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main .jumbotron h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        -ms-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        -ms-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        -ms-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        -ms-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        -ms-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
.swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}
/* media cards css */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Ubuntu;
}

.row {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row .col-one {
    width: 100%;
}
.row .col-one .heading {
    font-size: 2rem;
    color: #999;
    text-transform: uppercase;
    margin: 5rem 0;
    text-align: center;
}
.row .col-thirds {
    width: 31%;
}

.service-box {
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding: 3rem 3rem;
    border-radius: 0.5rem;
}
.service-box .service-box-icon {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}
.service-box .service-box-icon i {
    color: #b27ac7;
    font-size: 3rem;
}
.service-box .service-box-title {
    display: block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #b27ac7;
    font-size: 1.5rem;
}
.service-box .service-box-content {
    margin: 1.5rem 0;
    text-align: center;
    color: #999;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.service-box .service-box-button {
    display: block;
    text-align: center;
}
.service-box .service-box-button a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #b27ac7;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
}
.service-box .service-box-button a:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.media-card {
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
}
.media-card:hover {
    cursor: pointer;
    box-shadow: -2px -2px 5px white, 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.media-card .media-card-image-wrapper {
    position: relative;
}
.media-card .media-card-image-wrapper img {
    width: 100%;
}
.media-card .media-card-image-wrapper .media-card-meta-taxonomy {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #b27ac7;
    color: #f2f2f2;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.media-card .media-card-title {
    position: relative;
    padding: 1.5rem 1rem;
}
.media-card .media-card-title h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #b27ac7;
    text-transform: uppercase;
}
.media-card .media-card-title .media-card-meta-date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-style: italic;
    font-size: 0.8rem;
    color: #999;
}
.media-card .media-card-content {
    padding: 0rem 1rem;
    color: #999;
}
.media-card .media-card-button {
    padding: 1.5rem 1rem;
}
.media-card .media-card-button a {
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
    color: #b27ac7;
    font-weight: 500;
    font-size: 1rem;
}

.accordion {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.accordion .accordion-item .accordion-title {
    position: relative;
    padding: 1rem;
    color: #b27ac7;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease;
}
.accordion .accordion-item .accordion-title:after {
    content: "+";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.accordion .accordion-item .accordion-title:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.accordion .accordion-item .accordion-title.is-active {
    box-shadow: -2px -2px 5px white, 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.accordion .accordion-item .accordion-title.is-active:after {
    content: "−";
}
.accordion .accordion-item .accordion-content {
    display: none;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}


.semestreStyle{
    /*position: absolute;*/
    top: 15px;
    right: 15px;
    background: #b27ac7;
    color: #f2f2f2;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
