body
{background-image: url(https://1.bp.blogspot.com/-KZuszegmmvg/YM3NekRmQbI/AAAAAAAACDM/a3Zhmu5HkwAjMrURlytdcCIHtlBJBSsqgCLcBGAsYHQ/s0/grey%2Bscreen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.containerEnq{
    border:#8482db 2px;
    border-style: solid;
    background-color: #fff;
    margin:3% 35% 3%; /*3% top-bottom 5% right-left */
    border-radius: 90px;
    }
    h4{
        margin-left:17%;
    }
    h5{
        margin-left:8%;
    }
    tr {
        background-color: #dfb9e9;
    }