body{
/*{background-image: url(https://image.freepik.com/free-vector/gradient-geometric-background_23-2148824099.jpg);*/
    background-color: #bbbbbb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.containerEnq{
    border:#6461f3 2px;
    border-style: solid;
    background-color: #fff;
    margin:0 35% 3%; /X on top, Y on sides, Z on bottom */
    border-radius: 90px;
    }
    h4{
        margin-left:29%;
    }
    h5{
        margin-left:12%;
    }
    .table {
        width:1050px;
        margin-left:11%;

    }
    tr {
        background-color: rgba(44, 29, 242, 0.51);
    }
    #matiere-font {
        font-size:18px;
    }
    #semestre{
    background-color: #a8514e;
    color: white
    }
    #qcm-link{
        font-family: "Elephant";

    }
    a {
        color: #080c75;
    }
    #exit{
        margin-left:91%;
    }
    #exit-text{
        font-size:26px;
    }